<!DOCTYPE html>
<html ng-app>
<head>
	<title></title>
</head>
<body>
	<div ng-controller="meetupsController">
		<h1>There are {{meetupsCount}} meetups</h1>
	</div>

</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
</html>