<div class="container-fluid" ng-controller="homeCtrl">
	<div class="row">
		<div class="col-sm-4"></div>
		
		<div class="col-sm-4">
			<div class="container-fluid">
			<h3><span class="label label-default" id="sign-up-label">Create Poll</span></h3></br>
				<button id="quick-poll" class="btn btn-primary" type="submit" ng-click="createQPoll()">Quick Poll</button>
				<button id="reg-poll" class="btn btn-success" type="submit">Regular Poll</button></br>
			</div><!--container-->
		</div><!--col middle-->
		<div class="col-sm-4"></div>
	</div>
</div>