<div class="container-fluid" ng-controller="homeCtrl">
	<div class="row">
		<div id="left" class="col-sm-4">
			<div class="container-fluid">
				<h3><span class="label label-default" id="sign-up-label">Browse Polls</span></h3></br>
				<form>	
					<ul class="list-group">
						<div class="input-group">
						  <li class="list-group-item">Casual</li>
						  	<span class="input-group-addon">
					        	<input type="checkbox" aria-label="...">
					      	</span>
					     </div>
					     <div class="input-group">	
						  <li class="list-group-item">Politics</li>
						  	<span class="input-group-addon">
					        	<input type="checkbox" aria-label="...">
					      	</span>
					     </div>
					     <div class="input-group">	
						  <li class="list-group-item">Science</li>
						  	<span class="input-group-addon">
					        	<input type="checkbox" aria-label="...">
					      	</span>
					     </div>
					     <div class="input-group">	
						  <li class="list-group-item">Controversial</li>
						  	<span class="input-group-addon">
					        	<input type="checkbox" aria-label="...">
					      	</span>
					     </div>
					     <div class="input-group">	
						  <li class="list-group-item">Kinkies Naughties & Butts</li>
						  	<span class="input-group-addon">
					        	<input type="checkbox" aria-label="...">
					      	</span>
					    </div>
					</ul><!--list-group-->	
					<button class="btn btn-default" type="submit">Random Poll</button>
				</form>	
			</div><!--container-->
		</div><!--col left-->

		<div id="middle" class="col-sm-4">
			<div class="container-fluid">
			<h3><span class="label label-default" id="sign-up-label">Create Poll</span></h3></br>
				<button id="quick-poll" class="btn btn-primary" type="submit">Quick Poll</button>
				<button id="reg-poll" class="btn btn-success" type="submit">Regular Poll</button></br>
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Find Poll...">
			      <span class="input-group-btn">
			        <button id="search-poll-button" class="btn btn-default" type="button">Search</button>
			      </span>
			    </div><!-- /input-group -->
			</div><!--container-->
		</div><!--col middle-->
	</div><!--row-->
</div><!--container-->