
<form>
	<h3><span class="label label-default" id="sign-up-in-label">Sign In</span></h3></br>						
		<div class="form-group">
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Username</span>
		  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
		</div></br>
	</div>
	<div class="form-group">
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Password</span>
		  <input type="Password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">	
		</div>
	<button type="submit" class="btn btn-default">Login</button>
	</div>
</form>
<fb:login-button  size="xlarge"></fb:login-button></br></br>
<button type="submit" class="btn btn-default" ng-click=signUpTemplate()>Sign up</button>			