<div class="container-fluid" ng-controller="qPollCtrl">
	<div class="row">
		<div class="col-xs-6">
			<form>
				<div class="input-group">
			    	<input id="qQuestion" type="text" class="form-control" name="msg" placeholder="Question...">
			  	</div>

			  	<div class="input-group">
			    	<input id="option1" type="text" class="form-control" name="msg" placeholder="Option...">
			  	</div>

			  	<div class="input-group">
			    	<input id="option2" type="text" class="form-control" name="msg" placeholder="Option...">
			  	</div>

			  	<div class="input-group">
			    	<input id="option3" type="text" class="form-control" name="msg" placeholder="Option...">
			  	</div>
			</form>
		</div>
	</div>
</div>